@charset "utf-8";
	.st0
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	position : absolute ;
	left : 1022px;
	top : 553px;
	width : 56px;
	height : 45px;
}
.st1
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	position : absolute ;
	left : 1346px;
	top : 396px;
	width : 195px;
	height : 99px;
}
.st2
{
	background : #000000;
	background : rgba(0, 0, 0, 1);
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	position : absolute ;
	left : 1027px;
	top : 720px;
	width : 38px;
	height : 38px;
}
.st3
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	position : absolute ;
	left : 1264px;
	top : 196px;
	width : 96px;
	height : 40px;
}
.st4
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	position : absolute ;
	left : 1027px;
	top : 196px;
	width : 93px;
	height : 40px;
}
.st5
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	position : absolute ;
	left : 1402px;
	top : 196px;
	width : 70px;
	height : 36px;
}
.st6
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	position : absolute ;
	left : 1160px;
	top : 196px;
	width : 83px;
	height : 40px;
}
.st7
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	position : absolute ;
	left : 663px;
	top : 715px;
	width : 242px;
	height : 67px;
}
.st8
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	position : absolute ;
	left : 429px;
	top : 715px;
	width : 227px;
	height : 67px;
}
.st9
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	position : absolute ;
	left : 1003px;
	top : 690px;
	width : 208px;
	height : 100px;
}
.st10
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 0px;
	position : absolute ;
	left : 980px;
	top : 262px;
	width : 653px;
	height : 593px;
}
.st11
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	position : absolute ;
	left : 401px;
	top : 309px;
	width : 565px;
	height : 523px;
}
.st12
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	position : absolute ;
	left : 401px;
	top : 188px;
	width : 191px;
	height : 61px;
}
.st13
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	position : absolute ;
	left : 240px;
	top : 135px;
	width : 1439px;
	height : 770px;
}
.st14
{
	border-style : Solid;
	border-color : #000000;
	border-color : rgba(0, 0, 0, 1);
	border-width : 1px;
	position : absolute ;
	left : 1022px;
	top : 188px;
	width : 470px;
	height : 54px;
	border-radius : 20px;
	-moz-border-radius : 20px;
	-webkit-border-radius : 20px;
}
.NormalCharacterStyle2
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
	text-outline : #000000;
	text-outline : rgb(0, 0, 0);
}
.NormalCharacterStyle7
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
	text-outline : #000000;
	text-outline : rgb(0, 0, 0);
}
.NormalCharacterStyle3
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
	text-outline : #000000;
	text-outline : rgb(0, 0, 0);
}
.NormalCharacterStyle
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
	text-outline : #000000;
	text-outline : rgb(0, 0, 0);
}
.NormalCharacterStyle8
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
	text-outline : #000000;
	text-outline : rgb(0, 0, 0);
}
.NormalCharacterStyle1
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
	text-outline : #000000;
	text-outline : rgb(0, 0, 0);
}
.NormalCharacterStyle6
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
	text-outline : #000000;
	text-outline : rgb(0, 0, 0);
}
.NormalCharacterStyle5
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
	text-outline : #000000;
	text-outline : rgb(0, 0, 0);
}
.NormalCharacterStyle4
{
	font-family : Myriad Pro;
	font-size : 12px;
	color : #000000;
	color : rgb(0, 0, 0);
	text-outline : #000000;
	text-outline : rgb(0, 0, 0);
}
